DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=tempo_escolar
DB_USER=root
DB_PASS=
OWM_API_KEY=
APP_BASE_URL=http://localhost:8000
MAIL_FROM_ADDRESS=no-reply@renemeteo.com
MAIL_FROM_NAME=RENE METEO
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=587
MAIL_SMTP_USER=
MAIL_SMTP_PASS=
MAIL_SMTP_ENCRYPTION=tls
