RewriteEngine On

# Se o arquivo ou pasta existir, serve diretamente.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Caso contrário, redireciona para o front controller.
RewriteRule ^ index.php [L]
